*.kt linguist-language=Kotlin
*.kts linguist-language=Kotlin
*.cpp linguist-language=C++
*.h linguist-language=C++
*.S linguist-language=Assembly
*.js linguist-language=JavaScript
*.css linguist-language=JavaScript
*.html linguist-language=JavaScript