[submodule "ylcs-module/startup/picker/src/desktopMain/cpp/nativefiledialog"]
	path = ylcs-module/startup/picker/src/desktopMain/cpp/nativefiledialog
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "ylcs-module/startup/mmkv-kmp/src/desktopMain/cpp/mmkv"]
	path = ylcs-module/startup/mmkv-kmp/src/desktopMain/cpp/mmkv
	url = https://github.com/Tencent/MMKV.git