name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'ylcs-docs/**'
      - 'design/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'ylcs-docs/**'
      - 'design/**'

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      android: ${{ steps.filter.outputs.android }}
      ios: ${{ steps.filter.outputs.ios }}
      desktop: ${{ steps.filter.outputs.desktop }}
      web: ${{ steps.filter.outputs.web }}
      server: ${{ steps.filter.outputs.server }}
      modManager: ${{ steps.filter.outputs.modManager }}
      landpage: ${{ steps.filter.outputs.landpage }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Detect File Changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            common: &common
              - 'gradle/**'
              - 'buildSrc/**'
              - 'ylcs-base/**'
              - 'ylcs-module/**'
              - 'ylcs-app/cs/**'
              - 'ylcs-app/mod/**'
              - 'gradle.properties'
              - 'settings.gradle.kts'
              - 'build.gradle.kts'
              - 'libs.versions.toml'
            client: &client
              - *common
              - 'ylcs-app/mod/**'
              - 'ylcs-app/libs/**'
              - 'ylcs-app/shared/proguard/R8Common.pro'
              - 'ylcs-app/shared/src/commonMain/**'
              - 'ylcs-app/shared/build.gradle.kts'
            android:
              - *client
              - 'ylcs-app/shared/proguard/R8Android.pro'
              - 'ylcs-app/shared/src/jvmMain/**'
              - 'ylcs-app/shared/src/androidMain/**'
              - 'ylcs-app/androidApp/src/main/**'
            ios:
              - *client
              - 'ylcs-app/shared/src/nativeInterop/**'
              - 'ylcs-app/shared/src/appleMain/**'
              - 'ylcs-app/shared/src/iosMain/**'
              - 'ylcs-app/iosApp/**'
            desktop:
              - *client
              - 'ylcs-app/shared/proguard/R8Desktop.pro'
              - 'ylcs-app/shared/src/jvmMain/**'
              - 'ylcs-app/shared/src/desktopMain/**'
              - 'ylcs-app/desktopApp/src/desktopMain/**'
            web:
              - *client
              - 'ylcs-app/shared/src/wasmJsMain/**'
              - 'ylcs-app/webApp/src/wasmJsMain/**'
            server:
              - *common
              - 'ylcs-app/server/**'
            modManager:
              - *common
              - 'ylcs-app/modManager/**'
            landpage:
              - *common
              - 'ylcs-app/landpage/**'

  build-android:
    name: Build Android
    needs: changes
    if: ${{ needs.changes.outputs.android == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build
        run: ./gradlew ylcs-app:androidApp:androidPackage

  build-ios:
    name: Build iOS
    needs: changes
    if: ${{ needs.changes.outputs.ios == 'true' }}
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Build
        run: ./gradlew ylcs-app:shared:linkPodDebugFrameworkIosArm64

  build-desktop:
    name: Build Desktop
    needs: changes
    if: ${{ needs.changes.outputs.desktop == 'true' }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Setup MSVC
        if: runner.os == 'Windows'
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64
          export-path-to-vs: VS_PATH

      - name: Build
        run: ./gradlew ylcs-app:desktopApp:desktopJar

  build-web:
    name: Build Web
    needs: changes
    if: ${{ needs.changes.outputs.web == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Build
        run: ./gradlew ylcs-app:webApp:wasmJsJar

  build-server:
    name: Build Server
    needs: changes
    if: ${{ needs.changes.outputs.server == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Build
        run: ./gradlew ylcs-app:server:serverPublish

  build-modManager:
    name: Build Mod Manager
    needs: changes
    if: ${{ needs.changes.outputs.modManager == 'true' }}
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Setup MSVC
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64
          export-path-to-vs: VS_PATH

      - name: Build
        run: ./gradlew ylcs-app:mod-manager:desktopJar

  build-landpage:
    name: Build Landpage
    needs: changes
    if: ${{ needs.changes.outputs.landpage == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Build
        run: ./gradlew ylcs-app:landpage:jsJar

  test-check:
    name: Run All Tests
    needs: changes
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
          cache-dependency-path: |
            ./*.gradle*
            ./**/gradle-wrapper.properties

      - name: Test
        run: ./gradlew check --stacktrace